<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    {{ 'tailwind-output.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
  </head>
  <body>
    {% render 'my-header' %}
    {% comment %} {% section 'header' %} {% endcomment %}
    {{ content_for_layout }}
  </body>
</html>
