
<h1>First Section</h1>
{% schema %}
{
  "name": "Products List",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select a Collection"
    }
  ],
  "presets": [
    {
      "name": "Products List",
      "category": "Custom",
      "settings": {}
    }
  ]
}
{% endschema %}
