{% assign collection_list = {{ section.settings.collection }} %}

<div class="page-width">
  <ul>
 {%- for collection in {{ section.settings.collection }} -%}
   <li>{{ collection.title }}</li>
 {%- endfor -%}
</ul>
</div>

{% schema %}
{
  "name": "My Own Section",
  "settings": [
 {
  "type": "collection",
  "id": "collection",
  "label": "Collection"
}
  ],
  "blocks": [],
  "presets": [
    {
      "name": "My Own Generated Section",
      "category": "Custom",
      "settings": {}
    }
  ]
}
{% endschema %}
