{%- liquid
  assign pro_list = section.settings.collection.products
-%}

<div class="page-width">
  <ul>
    {%- for pro in pro_list -%}
      <li>
        {{ pro.title }}
        {{ pro.price }}
        {{ pro.description }}
        {{ pro.featured_image | image_url: width: 400 | image_tag: alt: pro.title }}
      </li>
    {%- endfor -%}
  </ul>
</div>

{% schema %}
{
  "name": "Products List",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select a Collection"
    }
  ],
  "presets": [
    {
      "name": "Products List",
      "category": "Custom",
      "settings": {}
    }
  ]
}
{% endschema %}
