<h1>My Collections</h1>
{% for collection in collections %}
  <h2>{{ collection.title }}</h2>
{% endfor %}
<hr>
{%- for product in collections['frontpage'].products -%}
  <h3>{{ product.title }}</h3>
{%- endfor -%}
{% schema %}
{
  "name": "Products List",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select a Collection"
    }
  ],
  "presets": [
    {
      "name": "Products List",
      "category": "Custom",
      "settings": {}
    }
  ]
}
{% endschema %}
