<h1>First Section</h1>
<ul class="pro">
  {%- for product in section.settings.collection.products -%}
    {%- if product.title -%}
      <li>
        {{ product.title }}
        {{ product.featured_image | image_url: width: 400 | image_tag }}
        {{ product.price | money }}
      </li>
    {%- endif -%}
  {%- endfor -%}
</ul>

{% style %}
  .pro {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    gap:20px;
  }
  .pro li{
    display: flex;
    flex-direction:column;
    gap:10px;
  }
{% endstyle %}
{% schema %}
{
  "name": "Products List",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select a Collection"
    }
  ],
  "presets": [
    {
      "name": "Products List",
      "category": "Custom",
      "settings": {}
    }
  ]
}
{% endschema %}
