<h1>Welcome</h1>
{% assign s1 = 'Sajid' %}
{% assign s2 = ' Yaqub' %}

{{ s1 | append: s2 }}
{{ 'sajid yaqub'| camelize }}
{{ 'sajid' | capitalize }}

{% schema %}
{
  "name": "Products List",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select a Collection"
    }
  ],
  "presets": [
    {
      "name": "Products List",
      "category": "Custom",
      "settings": {}
    }
  ]
}
{% endschema %}

